In [20]:
import pandas as pd
import numpy as np

oil_url = 'https://andybek.com/pandas-oil'
brent = pd.read_csv(oil_url, index_col='Date', parse_dates=True)

In [21]:
brent

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77
...           ...
2019-09-24  64.13
2019-09-25  62.41
2019-09-26  62.08
2019-09-27  62.48
2019-09-30  60.99

[5016 rows x 1 columns]